strong {
    color: #1A4264;
}

.title-i {
    color:#1A4264;
    font-weight: bold;
    margin: 10px;
    text-shadow: 0 0 10px #00000018;
  }

.section-padding {
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.info_entr ul {
    list-style-type: none; /* Enlève les points de la liste */
    padding: 0; /* Enlève le padding par défaut de la liste */
    
}

.info_entr li {
    margin-bottom: 15px; /* Ajoute un espacement entre les éléments de la liste */
}

/* PROGRESS-BAR */
.progress-bar {
    width: 0;
    height: 30px;
    background-color: #1A4264;


}
.progress-bar.animation {
    width: 100%;
    transition: width 1s;
}
.progress-text{
    color: aliceblue;

}
.progress-bar.show-text .progress-text {
    display: block;
}

ul {
    margin-bottom: 20px; /* Ajustez cette valeur pour augmenter l'espacement */
}

.darkmode--activated .bold {
    color: #E5BD9B;
  }

.darkmode--activated .social {
    color: #E5BD9B;
}