.cadre{
    padding: 1.5em;
    background-color: #1A4264;
    color: #fff;
    border-radius: 2%;
}
.section-padding {
    padding-top: 9rem;
    padding-bottom: 9rem;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.row .btn {
    background-color: #fff;
    border-color: #000;
    color: #000;
}

body {
    overflow-x: hidden;
    font-family: Inter, sans-serif;
}

.case{
    border: 3px solid #f0e6d1;
    border-color: #f0e6d1;
}

.social-i {
    color: #1A4264;
}

#contact-section{
    width: 50%;
    margin: auto;
}

.darkmode--activated .bold {
    color: #E5BD9B;
  }

.darkmode--activated .title {
    color: #E5BD9B;
}