.img-login {
    border-radius: 2%;
    margin: 100px;
    box-shadow: 0 0 10px #0000002c;
}

.parent-container {
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
}

.title-c {
    color:#fff;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 30px;
    text-shadow: 0 0 10px #00000018;
  }

form {
    background-color: #1A4264;
    color: #fff;
    text-align: center;
    width: clamp(20rem, 30vw, 70rem);
    max-width: 600px;
    padding: 30px;
    border-radius: 2%;
    margin: 200px; 
    height: 290px;
}

form .btn {
    background-color: #fff;
    border-color: #000;
    color: #000;
}

form .btn:hover {
    background-color: #d2d1d1;
    border-color: #000;
    color: #000;
}

.darkmode--activated form {
    background-color: #E5BD9B;
}

.darkmode--activated input {
    background-color: #000;
}

.darkmode--activated input::placeholder {
    color: #fff;
}

.darkmode--activated span {
    background-color: #282828;
    color: #fff;
}

.darkmode--activated .btn {
    background-color: #000;
    color: #fff;
    border-color: #fff;
}

.darkmode--activated .btn:hover {
    background-color: #191919;
    color: #cecece;
}

.darkmode--activated .title-c {
    color: #000;
}