@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
html {
  scroll-behavior: smooth;
}
  
/* NAVBAR */
nav {
  display: flex;
  align-items: center;
  height: 100px;
  background-image: linear-gradient(243deg,#1f4e77 0, #1A4264 100%);
  box-shadow: 0 0 10px #1A4264;
  font-size: larger;
}
nav .logo {
  width: 16%;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: -10px;
}
nav .name {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 10px #fff;
}
nav ul {
  padding: 10px;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .hideOnMobile {
  margin-top: 70px;
  margin-bottom: 60px;
}
nav a {
  height: 100%;
  padding: 0 1px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  border-bottom: .20rem solid transparent;
}
nav .active {
  border-bottom-width: 0.3rem;
  border-bottom-color: #fff;
}
nav a:hover {
  color: #eaeaea;
  border-bottom-color: #fff;
}
nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-image: linear-gradient(243deg,#1f4e77 0, #1A4264 100%);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 99;
}
.sidebar a {
  width: 100%;
}
.sidebar li {
  margin-top:15px;
  margin-bottom: 15px;
}
.menu-button {
  display: none;
}

  /* FOOTER */
footer {
  margin-top: 100px;
}
.footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(243deg,#1f4e77 0, #1A4264 100%);
  box-shadow: 0 0 10px #1A4264;
  border-radius: 20px;
  position: fixed;
  width: 90%;
  height: 100px;
  padding: 10px 20px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1px;
  z-index: 99;
}
.footer-contact .footer-left {
  display: flex;
}
.footer-contact p {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 10px;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
.footer-contact .footer-right {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.footer-contact .footer-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-contact .footer-button:hover {
  transform: scale(1.05);
}
.footer-contact .whatsapp {
  background-color: #25D366;
  box-shadow: 0 0 10px #25D366;
}
.footer-contact .facebook {
  background-color: #0866FF;
  box-shadow: 0 0 10px #0866FF;
}
.footer-contact .linkedin {
  background-color: #0A66C2;
  box-shadow: 0 0 10px #0A66C2;
}
.footer-contact .instagram {
  background: linear-gradient(to right, #f58529, #dd2a7b, #8134af, #515bd4);
  box-shadow: 0 0 10px #515bd4;
}
.footer-infos {
  margin-bottom: 150px;
}

/* MODAL */
.modal .btn-close {
  background-color: #ffffffbd;
  border: #000 1px solid;
  box-shadow: 0 0 10px #fff;
}
.modal .modal-header {
  background-image: linear-gradient(243deg,#1f4e77 0, #1A4264 100%);
}
.modal .modal-title {
  color: #fff;
  text-shadow: 0 0 10px #fff;
  font-weight: 800;
}
.modal .modal-content {
  box-shadow: 0 0 10px #1A4264;
}
.modal .input-group {
  margin-bottom: 15px;
}
.modal input {
  box-shadow: 0 0 10px #1A4264;
}
.modal .btn-connexion {
  background-color: #1A4264;
  box-shadow: 0 0 10px #1A4264;
  font-weight: 600;
  color: #fff;
}
.modal .btn-connexion:hover {
  background-color: #163652;
  color: #fff;
}

/* MEDIA QUERIES */
@media(max-width: 1200px){
  .container-fluid .plus {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }

  .container-fluid .plus {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media(max-width: 400px){
  .nav .logo,
  .nav .name {
  font-size: 0.8rem;
  }

  .sidebar{
    width: 100%;
  }
  .logo{
    width: 100%;
  }

  .container-fluid .plus {
    margin-left: 2px;
    margin-right: 2px;
  }

  .footer-contact {
   display: block;
   height: 90px;
  }
  .footer-contact p {
    font-size: 0.8em;
  }
  .footer-contact .footer-right {
    justify-content: none;
  }
  .footer-contact .footer-button {
    padding: 5px 10px;
  }
  .footer-contact svg {
    width: 70%;
  }
}

/* ============CORP==============*/
body{
  background-color: #F0E6D1 !important; 
}
.title{
  text-align: center;
}
.title_form{
  text-align: center;
  color: #000;
  margin-bottom: 30px;
  font-weight: 800;
  text-shadow: 0 0 15px #000;
}

.social{
  color: white;
}

.boite1{
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
.case_form{
  display: flex;
  justify-content: center;
}
/* HOVER liens hypertextes */
.effet {
  color: #1A4264;
  font-weight: 700;
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -moz-background-clip: text;/* pour les anciennes verions de certains navigateurs*/
  background-clip:text;
  -moz-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.effet:before {
  content: '';
  background-image: linear-gradient(243deg,#F0E6D1 0, #1A4264 100%);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.effet:hover {
 background-position: 0;
}
.effet:hover::before {
  width:100%;
}
/* formulaire */
.formulaire {
  max-width: 550px;
  border: 2px solid #E4D0AA;
  padding: 2em;
  border-radius: 20px;
  background-color: #fff !important;
  box-shadow: 10px 10px #E4D0AA;;
}
.form-group textarea {
  padding-bottom: 50px;
}

.button_send{
  text-align: center;
}
.button_send .btn {
  text-decoration: none;
  padding: 10px 40px;
  border: none;
  border-radius: 30px;
  background-image: linear-gradient(243deg,#F0E6D1 0, #E4D0AA 100%);
  color: #fff;
  font-weight: 600;
  margin-top: 20px;
  box-shadow: 0 0 15px #F0E6D1;
}
.button_send .btn:hover {
  color: #000;
  transform: scale(1.05);
}
  /* case input */
form .case{
  border-radius: 50px; /* Even more rounded corners */
  padding: 5px; /*changer taille input*/
  border: 2px solid #F0E6D1;
  font-size: 15px; /* Default font size */
}
form .case:focus {
  outline: none; /* Remove default outline */
  border-color: #1A4264; /* Change border color on focus */
  background-color: rgb(237, 227, 204); /* Change background color on focus */
  box-shadow: 0 0 5px rgb(196, 159, 86);; /* Add a blue glow on focus */
}

/* cadre des infos sur nk formation */
.info_data{
  list-style-type: none;
  position: relative;
  border: 2px solid #E4D0AA; /* Border color and width */
  padding: 2em; /* Padding inside the border */
  margin: auto;
  border-radius: 50px;
  background-color: #fff !important; 
  box-shadow: 10px 10px #E4D0AA;
}
.information{
  padding:3rem ;
}
/* alignement des icon et du <p> qui suit */
.alignement {
  display: flex;
  align-items: center;
}

.alignement svg {
  margin-right: 10px; /* Ajustez cette valeur selon vos besoins */
  vertical-align: middle;
}

.alignement p {
  margin: 0;
  vertical-align: middle;
}
/* css pour que l'iframe ne sorte pas du cadre */
iframe{
  border-radius: 50px;
}
.localisation{
  width: 100%; /* Largeur parente */
  height: 300px; /* Hauteur spécifique pour l'iframe */
  position: relative;
}
.localisation iframe {
  position: absolute; /* Positionnement absolu pour remplir l'élément parent */
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding: 20px;
}

/* CARD à PROPOS */
.a_pp{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; /* à retirer si le texte fait la même taille des deux côtés*/
}

.card__image {
  margin-bottom: -.75rem;
}
.card__img {
  width: 30em;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card{
  border: 2px solid black;
  border-radius: 1.25rem !important;
  overflow: hidden;
  width: 100%;
}
.card__data{
  background-image: linear-gradient(243deg,#1f4e77 0, #1A4264 100%);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
  flex-wrap: wrap;
}
.card-title {
  font-weight: 700;
  margin-bottom: 1.75rem;
  color: antiquewhite;
}
.card-text {
  color: white;
}
.plus {
  margin-left: 200px;
  margin-right: 200px;
}

.combo1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 767px) {
  #targetDiv, #targetDiv2 {
    display: none;
  }
  [data-modal] {
  cursor: pointer;
}
}
.c:hover {
  transform: rotateY(180deg);
}
.front-bbl, .back-bbl {
  position: absolute; /* Position absolutely inside .c */
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}
.back-bbl {
  transform: rotateY(180deg);
}

.front-img {
  width: 60%;
  height: auto;
}

/* SCROLLBAR*/
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: #1A4264;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #163652;
}