.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1A4264;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    margin-top: 10px;
  }

  .active {
    background-color: #0e2437;
  }
  
  .sidenav a:hover {
    color: #E5BD9B;
  }

  .logo-d {
    display: block;
    margin: auto;
    width: 70%;
    align-content: center;
    background-color: #fff;
    border-radius: 10%;
  }

  .card {
    border: 2px solid #000;
    box-shadow: 0 0 10px #00000067;
  }

  .card .card-title {
    font-weight: bold;
    color: #1A4264;
  }

  .icon-card {
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #1A4264;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .darkmode--activated .sidenav {
    background-color: #E5BD9B;
  }

  .darkmode--activated .sidenav a {
    color: #000;
  }

  .darkmode--activated .sidenav a:hover {
    color: #fff;
  }

  .darkmode--activated .active {
    background-color: #fff;
  }

  .darkmode--activated .card {
    background-color: #000;
    color: #fff;
    border: 1px solid#fff;
  }

  .darkmode--activated .card-footer {
    background-color: #ffffff;
  }

  .darkmode--activated .card-title {
    color: #E5BD9B;
  }

  .darkmode--activated .icon-card {
    color: #E5BD9B;
  }